@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');





.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color: #26ff00;
    padding: 10px;
}
  
  
.grid-container > div {
    background-color: #2E71B8;
    border: 15px outset#EB28DB;
    text-align: center;
    font-size: 30px;
}


.box1{   
    grid-column-start: 1;
    grid-column-end: 4;


}
.box2{

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}
.box3{
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 50px;
}
.box4{
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 50px;
}
p{
    font-size: 30px;
    font-family: 'Pacifico',sans-serif;
    display: flex;
    justify-content: center;
    border-style: inset;
    padding: 2px;
    background-color: violet;


    
}

.box1:hover{
    background-color:#0ae7a5;

}

.box2:hover{
    background-color:#0ae7a5;

}

.box3:hover{
    background-color:#0ae7a5;

}

.box4:hover{
    background-color:#0ae7a5;

}

.box5:hover{
    background-color:#0ae7a5;

}

.box6:hover{
    background-color:#0ae7a5;

}

.box7:hover{
    background-color:#0ae7a5;

}
  
